<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEV</key>
	<dict>
		<key>FTP_URL</key>
		<string>http://111.93.124.117:9088/oq</string>
		<key>AuthURL</key>
		<string>https://graph.microsoft.com/v1.0</string>
		<key>BaseURL</key>
		<string>https://graph.microsoft.com/v1.0/sites/</string>
		<key>BNSUrl</key>
		<string>https://textmobile.cognitiveservices.azure.com/</string>
	</dict>
	<key>PROD</key>
	<dict>
		<key>FTP_URL</key>
		<string>https://oqmobileapp.oq.com/oq</string>
		<key>AuthURL</key>
		<string>https://graph.microsoft.com/v1.0</string>
		<key>BaseURL</key>
		<string>https://graph.microsoft.com/v1.0/sites/</string>
		<key>BNSUrl</key>
		<string>https://textmobile.cognitiveservices.azure.com/</string>
	</dict>
</dict>
</plist>
